:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

* {
    outline: 1px solid red;  
  }
  

*,
*::before,
*::after {
    box-sizing: border-box;
}

.input,
button {
    font-size: 16px;
    font-size: max(16px, 1rem);
    font-family: inherit;
    padding: 0.25rem 0.25rem;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    display: block;
    transition: 180ms box-shadow ease-in-out;
}

button {
    margin: 5px 0px;
}

.input:not(textarea) {
    line-height: 1;
    height: 2.5rem;
}

textarea.input {
    resize: none;
}

button:hover {
    border-color: hsl(
        var(--input-focus-h),
        var(--input-focus-s),
        var(--input-focus-l)
    );

    cursor: pointer;
}

.input:focus {
    border-color: hsl(
        var(--input-focus-h),
        var(--input-focus-s),
        var(--input-focus-l)
    );

    box-shadow: 0 0 0 3px
        hsl(
            var(--input-focus-h),
            var(--input-focus-s),
            cals(var(--input-focus-l) + 40%)
        );
    outline: 3px solid transparent;
}

.App {
    margin: auto;
    width: 70%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #636260;
    background-color: #e5e2e5;
    border-radius: 10px;
}

.input {
    background-color: rgb(224, 216, 216);
}

textarea {
    width: 100%;
    height: 100px;
}

.cardContainer {
    display: flex;
    /* width: 100vw; */
    flex-wrap: wrap;
}

.card{
    /* margin-right: 1rem; */
    
    padding: 1rem;
    flex-basis: 33.333333%;
    opacity: 66%;
    transition: opacity .2s;
    transition: all .2s ease-in-out;
    margin-bottom: 10px;
}

.card:hover{
    opacity: 100%;
    transition: opacity .5s;
    transform: scale(1.04);
    
}

.modaldial {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px
}

.overlaydial{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}